<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title>Monitoring CO2</title>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="/css/common.css" />

	<!-- Favicon -->
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/site.webmanifest">
	<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="theme-color" content="#ffffff">
</head>

<body>
	<header>
		<div id="title">
			<a class="link" href="/"><img id="logo_principale" src="/img/logo_CO2_Monitoring.png" alt="Logo"/></a>
			<a class="link" href="/">Monitoring CO2</a>
		</div>

		<div th:if="${#authentication != null}">
			<div th:text="${#authentication.principal.getFullName()}"></div>
			<div><a href="/logout">Se déconnecter</a></div>
		</div>

		<div>
			<nav>
				<ul id="nav_principale">
					<li>
						<a class="link" href="/" id="page_courante">Carte</a>
					</li>
					<li>
						<a class="link" href="/devices">Appareils</a>
					</li>

					<li>
						<a class="link" href="http://51.38.237.54/">Tracking</a>
					</li>

					<li>
						<a class="link" href="https://github.com/Monitoring-CO2">A propos</a>
					</li>
				</ul>
			</nav>
		</div>
	</header>

	<iframe id="iframe_grafana"
			width="100%"
			height="100%"
			style="height:100%;width:100%"
			th:src="'http://51.38.237.54:8091/d/RBjY4G04z/monitoring-co2?orgId=1&theme=light&var-deviceId='+${device.getDeviceId()}"></iframe>
</body>
</html>